@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Lavishly+Yours&family=Outfit:wght@300;400;500;600;700;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: var(--principal-font);
    transition: all 0.33s ease;
}

:root {
    /*---------- fonts ---------- */
    --principal-font:'Outfit', sans-serif;
    --monoscript-font:'Carattere', cursive;
    --signature-font:'Lavishly Yours', cursive;

    /*---------- Cores ---------- */
    --purple-one:#32013D;
    --purple-two: #3D004A;
    --purple-three:#4E005F;
    --purple-four:#8400a2;
    --pink-transp: #D100FF;
    --yellow-color: #C8A800;
    --white-color:#fff;
}
html {
    scroll-behavior: smooth;
}

/* ----------------- Scroolbar style start ----------------- */
::-webkit-scrollbar {
    width:0.7rem;
}
::-webkit-scrollbar-track {
    background-color: var(--purple-three);
}
::-webkit-scrollbar-thumb {
    background-color: var(--pink-transp);
}

/* ----------------- Scroolbar style end ----------------- */



/* ----------------- Header style start ----------------- */
body {
    background-color: var(--purple-one);
}
.navbar-purple {
    background-color:var(--purple-one);
    padding:10px 0;    
}
.navbar-brand img, .footer-brand img {
    width:80px;
}
.navbar {    
    text-transform:uppercase;
    font-family: var(--principal-font);
    font-weight: 700;
    transition:all 0.75s ease-in;
      
}
.nav-item {
    padding:0.6rem;
}
.nav-link {
    color:var(--white-color)!important;
    transition:all 0.45s ease-in;
}
.nav-link:hover {
    color:var(--yellow-color)!important;
}
.dropdown-menu {
    background-color: var(--purple-three);
}
.dropdown-item {
    color:var(--white-color);
}

/* ----------------- Header style end ----------------- */


/* ----------------- Section Carousel style start ----------------- */
.carousel-item {
    height:100vh;
    min-height:300px !important;
}

/* ----------------- Section Carousel style end ----------------- */

/* ----------------- Section novidade style start ----------------- */

.novidades-img span {
    top:20px;
    right:20px;
    width:50px;
    height:50px;
    border-radius:50%;
}
.novidades-img {
   cursor:pointer; 
}
.novidades-img img:hover {
    transform: scale(1.1) translateY(-9px);
}
.novidades-title-object {
    font-size:22px;
    font-weight: 600;
}
.novidade-valor {
    font-size:22px;
    color:var(--yellow-color)!important;
}

/* ----------------- Section novidade style end ----------------- */


/* ----------------- Section quem somos style start ----------------- */
.text-quem {
    line-height: 25px;
}
.text-center .fw-bold {
    font-size:20px;
    text-transform: uppercase;
}
.signature {
    font-family: var(--signature-font);
    color:#C8A800;
    font-size: 40px;
}

/* ----------------- Section quem somos style end ----------------- */

/* ----------------- Section counter style start ----------------- */
.counter-section {
    background-color: var(--purple-three);
    padding:5rem 0rem 3rem 0;
}
.counter-section p {
    color:var(--white-color);
    font-family: var(--principal-font);
    font-size:20px;
    text-transform: uppercase;
}
.counter-section i {
    font-size: 50px;
    color:var(--yellow-color);
}
.counter-section .num {
    font-size:70px;
    color:var(--white-color);
}

/* ----------------- Section counter style end ----------------- */


/* ----------------- Section clientes style start ----------------- */

.slider-area {
    /* padding:50px 0; */
    position:relative;
    /* margin:120px 0; */
}
.img-area {
    
    
    
    width:250px;
    height:250px;
    margin:auto;
    border:4px solid var(--pink-transp);
    border-radius:50%;
    overflow: hidden;
}
.img-area img {
    width:550px;     
}
.carousel-caption {
    position: absolute;
    bottom:250px;
    color:var(--pink-transp);
}
.carousel-caption p {
    line-height:30px;
    font-size:18px;
}
.amar {
    background-color: var(--yellow-color);
    padding:200px;
    border-radius: 200px;
    height:900px;
}

/* ----------------- Section clientes style end ----------------- */


/* ----------------- Footer style start ----------------- */
.bg-color {
    background-color: var(--purple-four)!important;
}
.fa-brands {
    font-size:28px;
    color:var(--white-color);
}
.fa-brands:hover {
    color:var(--purple-two)
}
.footer-duvidas .text-white {
    font-size:18px;
    text-decoration: none;
}
.footer-duvidas .text-white:hover {
    text-decoration: underline;
}
.box-forma-pag {
    text-align: center;
}
.footer-bandeiras i {
    padding:10px;
}
.form-pag {
    font-size:25px;
}
.pix {
    width:70px;
}
.footer-whatsapp i {
    font-size:40px;
    color:rgb(0, 157, 0);
}
.whats {
    font-size:25px;
}
.footer-bottom p {
    font-size:12px;
}

/* ----------------- Footer style end ----------------- */