@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Lavishly+Yours&family=Outfit:wght@300;400;500;600;700;800&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: var(--principal-font);
    transition: all 0.33s ease;
}

:root {
    --principal-font: font-family: 'Outfit', sans-serif;
    --monoscript-font: font-family: 'Carattere', cursive;
    --signature-font: font-family: 'Lavishly Yours', cursive;

    --purple-one:#32013D;
    --purple-two: #3D004A;
    --purple-three:#4E005F;
    --purple-four:#8400a2;
    --pink-transp: #D100FF;
    --yellow-color: #C8A800;
    --white-color:#fff;
}

/* ----------------- Header style start ----------------- */
body {
    background-color: var(--purple-one);
}
.navbar-purple {
    background-color:var(--purple-one);
    padding:10px 0;    
}
.navbar-brand img, .footer-brand img {
    width:80px;
}
.navbar {    
    text-transform:uppercase;
    font-family: var(--principal-font);
    font-weight: 700;
    transition:all 0.75s ease-in;
      
}
.nav-item {
    padding:0.6rem;
}
.nav-link {
    color:var(--white-color)!important;
    transition:all 0.45s ease-in;
}
.nav-link:hover {
    color:var(--yellow-color)!important;
}
.dropdown-menu {
    background-color: var(--purple-three);
}
.dropdown-item {
    color:var(--white-color);
}

/* ----------------- Header style end ----------------- */


/* ----------------- Section Carousel style start ----------------- */
.carousel-item {
    height:100vh;
    min-height:300px !important;
}

/* ----------------- Section Carousel style end ----------------- */

/* ----------------- Section novidade style start ----------------- */

.novidades-img span {
    top:20px;
    right:20px;
    width:50px;
    height:50px;
    border-radius:50%;
}
.novidades-img {
   cursor:pointer; 
}
.novidades-img img:hover {
    transform: scale(1.1) translateY(-9px);
}
.novidades-title-object {
    font-size:22px;
    font-weight: 600;
}
.novidade-valor {
    font-size:22px;
}

/* ----------------- Section novidade style end ----------------- */


/* ----------------- Footer style start ----------------- */
.bg-color {
    background-color: var(--purple-four)!important;
}
.fa-brands {
    font-size:25px;
    color:var(--white-color);
}
.footer-duvidas .text-white {
    font-size:18px;
    text-decoration: none;
}
.footer-duvidas .text-white:hover {
    text-decoration: underline;
}
.box-forma-pag {
    text-align: center;
}
.footer-bandeiras i {
    padding:10px;
}
.form-pag {
    font-size:25px;
}
.pix {
    width:70px;
}
.footer-whatsapp i {
    font-size:40px;
    color:rgb(0, 157, 0);
}
.whats {
    font-size:25px;
    

}
.footer-bottom p {
    font-size:12px;
}

/* ----------------- Footer style end ----------------- */